<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration  PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="javax.persistence.validation.mode">none</property>
        <!-- List of XML mapping files -->
        <mapping resource="com/palipind/weddingdb/Wedding.hbm.xml" />
        <mapping resource="com/palipind/weddingdb/DeviceToken.hbm.xml" />
        <mapping resource="com/palipind/weddingdb/Event.hbm.xml" />
        <mapping resource="com/palipind/weddingdb/WeddingEvent.hbm.xml" />
    </session-factory>
</hibernate-configuration>